:root {
    --dark: #05152E;
    --darker: #1F2937;
    --darkest: #001E3C;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFF;
    background-color: var(--dark);
}


header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{ 
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    margin-bottom: 1rem;
}

h1{
    text-align: center;
}

.info-block{
    position: relative;
    background-color: rgba(255,255,255,.15);
    min-height: max(50px,6vmin);
    border-radius: .5vmin;
    z-index: 1;
    background-size: 50vmin 50vmin;
    background-repeat: no-repeat;
    background-position: calc(var(--x) * 1px - 25vmin) calc(var(--y) * 1px - 25vmin);
    box-shadow: 0 .5vmin 1vmin #000,inset 0 .1vmin .1vmin rgba(255,255,255,.199),0 0 8vmin -5.5vmin var(--high2);
    margin-bottom: max(1vmin,17px);
    transition: background-color .5s;
    height: -webkit-fill-available;
    vertical-align: top;
    display: inline-block;

  }

.info-block::before {
    content: "";
    height: calc(100% - 0.5vmin);
    width: calc(100% - 0.5vmin);
    background-color: #181818;
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    inset: 0;
    margin: auto;
    transition: background-color .3s ease-in-out;
    background-image: radial-gradient(var(--high2),transparent 70%);
    background-size: 150% 50vmin;
    background-repeat: no-repeat;
    background-position: 50% -43vmin
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

menu{
    --font: calc(var(--footer) * 0.5);
    height: var(--footer);
    background-color: var(--dark);
    text-align: center;
    margin: 0;
    line-height: 150%;
    font-size: var(--font);
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 1vmin var(--dark)
}

.Buttons_text{ 
    font-size: 2.5rem;
    font-weight: 300;
    color: rgb(163, 27, 27);
    margin-bottom: 1rem;
}

button{ 
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 1rem;
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 2px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #f00;
  }